django
djangorestframework
django-cors-headers
django-redis
django-background-tasks
dj-database-url
drf-spectacular
psycopg2
sqlalchemy
google-api-python-client
whitenoise[brotli]
gunicorn
uvicorn
pillow
python-dotenv